/* Stylesheet for desktop screens */

html {
    margin-top: 0;
    padding: 0;
    background: #efefef;
    background-image: url(background.png);
}

body {
    padding: 0;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
}


/* The header */

header {
    width: 100%;
    padding: 10px;
    margin-bottom: 5%;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.05), 0px 15px 10px rgba(0, 0, 0, 0.05);
}

header h1 {
    text-align: center;
    font-family: verdana, sans-serif;
    font-size: 2.3em;
}

header p {
    font-size: 1.2em;
}


/* the footer */

footer {
    margin-top: 5%;
    width: 100%;
    padding: 10px;
    font-size: 0.9em;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.05), 0px 15px 10px rgba(0, 0, 0, 0.05);
}


/* for all div */

div {
    padding: 10px;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.05), 0px 15px 10px rgba(0, 0, 0, 0.05);
}


/* the introduction space */

#introduction {
    display: block;
}

#introduction p {
    font-size: 1.2em;
}

#introduction input {
    width: 200px;
    font-size: 1.4em;
    margin-left: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
    background: #97E7E3;
}


/* the question space */

#questions {
    display: none;
}

#questions h2 {
    font-size: 2em;
}

#question_heading {
    font-style: italic;
}

#question_line {
    font-size: 1.6em;
}

#questions input {
    width: 120px;
    font-size: 1.4em;
    margin-left: 20%;
}

#answer_yes {
    background: lightgreen;
}

#answer_no {
    background: pink;
}

#questions h3 {
    margin-top: 50px;
    color: #4C4C4C;
}

#question_explanation {
    margin-top: 20px;
    font-size: 1.2em;
    color: #4C4C4C;
}


/* the rubric space */

#rubric {
    display: none;
}


/* table styling is based on the "Nicely Styled Tables" at https://css-tricks.com/complete-guide-table-element/ */

table {
    font-family: 'Arial';
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #A39D9D;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}

table tr:hover {
    background: rgba(127, 127, 127, 0.2);
}

table tr:hover td {
    color: #444;
}

table th,
table td {
    color: #777;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
}

td.rank {
    text-align: center;
}

table th {
    background: #A39D9D;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

table th.last {
    border-right: none;
}
